<div class="ohm-shell" #screen>
  <ohm-topbar
    [year]="atDate"
    (menu)="aboutBar.toggle()"
    (info)="aboutBar.toggle()"
    (share)="copyShare()"
    (styleChange)="changeStyle($event)"></ohm-topbar>

  <div class="map-stage">
    <div id="ohm_map"></div>
  </div>

  <ohm-timeline [year]="atDate" (yearChange)="onYearChange($event)"></ohm-timeline>

  <ohm-sidenav #aboutBar title="About" position="start">
    <div class="prose" *ngIf="infoData?.info" [innerHtml]="infoData.info"></div>
    <nav class="nav-list">
      <a target="_blank" rel="noopener" href="https://www.openhistorymap.org/">OHM Home</a>
      <a target="_blank" rel="noopener" href="https://blog.openhistorymap.org/">OHM Blog</a>
      <a target="_blank" rel="noopener" href="https://index.openhistorymap.org/">OHM Index</a>
      <a target="_blank" rel="noopener" href="https://www.openhistorymap.org/about/">About OHM</a>
      <a target="_blank" rel="noopener" href="https://www.openhistorymap.org/help/">How to help / donate</a>
    </nav>
  </ohm-sidenav>

  <ohm-sidenav #hereBar title="What is here" position="end">
    <div class="empty" *ngIf="!selectedFeatures?.length">Click a feature on the map.</div>
    <nav class="nav-list" *ngIf="selectedFeatures?.length">
      <a *ngFor="let f of selectedFeatures" (click)="goTimeSpace(f.ohm_from, f.geom)">
        {{ f.properties?.name }}
        <span class="meta" *ngIf="f.ohm_from">anno {{ f.ohm_from | number:'1.0-0' }}</span>
      </a>
    </nav>
  </ohm-sidenav>

  <ohm-sidenav #shareBar title="Share" position="end">
    <p class="prose" *ngIf="shareLink">
      The link <code>{{ shareLink }}</code> has been copied to your clipboard. Send it on.
    </p>
    <nav class="nav-list">
      <a [href]="'https://www.facebook.com/sharer/sharer.php?u=' + shareLink"
         target="_blank" rel="noopener" *ngIf="shareLink">on Facebook</a>
      <a [href]="'https://twitter.com/intent/tweet?url=' + shareLink"
         target="_blank" rel="noopener" *ngIf="shareLink">on Twitter / X</a>
      <a [href]="'https://www.linkedin.com/sharing/share-offsite/?url=' + shareLink"
         target="_blank" rel="noopener" *ngIf="shareLink">on LinkedIn</a>
      <a [href]="'mailto:?body=' + shareLink"
         *ngIf="shareLink">by Email</a>
    </nav>
  </ohm-sidenav>
</div>
